//
//	ASSET: FONTS
//
/*

@font-face {
	font-family: fiatadvert01arg;
	src: url(fiatadvert01-webfont.eot);
	src: url(fiatadvert01-webfont.eot?#iefix) format("embedded-opentype"), url(fiatadvert01-webfont.woff2) format("woff2"), url(fiatadvert01-webfont.woff) format("woff"), url(fiatadvert01-webfont.ttf) format("truetype"), url(fiatadvert01-webfont.svg#fiatadvert01arg) format("svg");
	font-weight: 400;
	font-style: normal
}
*/
